.dashboard-container{
    background-color: #E5E5E5;

    .dashboard{

        .dashboard-menu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;            
            column-gap: 10px;          
            row-gap: 10px;  
            padding: 20px;

            .number-of-patients-container{
                background-color: white;
                text-align: center;
            }
            
            .number-of-patients-screened-container{
                background-color: white;
            }
    
            .average-time-duration-of-screening-container{
                background-color: white;
                grid-column: 3/5;

                .average-time{
                    display: grid;
                    grid-template-columns: auto auto auto;

                    h1, h3{
                        margin: 0;
                        padding: 5px;
                    }

                    .hours-number-format,
                    .hours-string-format{
                        text-align: right;
                    }

                    .minutes-number-format,
                    .minutes-string-format{
                        text-align: center;
                    }

                    .seconds-number-format,
                    .seconds-string-format{
                        text-align: left;
                    }
                }
            }

            .recently-screened-patients-container{
                background-color: white;
                grid-column: 1/3;
                text-align: left;

                .recently-screened-patients-header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-inline: 35px;

                    label[for="recently-screened-label"]{
                        font-weight: bolder;
                    }

                    label[for="view-all-hyperlink"]{
                        font-weight: bolder;
                        color: #8860D0;
                    }
                }

                .recently-screened-patient-data{
                    display: flex;                    
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 35px 15px 35px;
                    border-bottom: 1px solid rgb(167, 165, 165);

                    .patient-name{
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .screening-information-summary{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            .graphical-representation-of-data-container{
                background-color: white;
                grid-column: 3/5;
            }
        }

        .dashboard-menu > *{
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
    }
}