.dashboard-container {
  padding-top: 90px;
}
.dashboard-container .dashboard {
  background-image: linear-gradient(to right, #8860D0, #A79BFF);
  border-radius: 7px;
}
.dashboard-container .dashboard .dashboard-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  padding: 20px 20px 10px 20px;
}
.dashboard-container .dashboard .dashboard-menu .number-of-patients-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-container .dashboard .dashboard-menu .number-of-patients-screened-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 3/5;
}
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time {
  display: grid;
  grid-template-columns: auto auto auto;
}
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time h2, .dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time h3 {
  margin: 0;
  padding: 7px;
}
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .hours-number-format,
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .hours-string-format,
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .minutes-number-format,
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .minutes-string-format,
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .seconds-number-format,
.dashboard-container .dashboard .dashboard-menu .average-time-duration-of-screening-container .average-time .seconds-string-format {
  text-align: center;
}
.dashboard-container .dashboard .recently-screened-patients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dashboard-container .dashboard .recently-screened-patients-container .graphical-representation-of-data-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container {
  grid-column: 1/3;
  text-align: left;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patients-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 35px;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patients-header label[for=recently-screened-label] {
  font-weight: bolder;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patients-header label[for=view-all-hyperlink] {
  font-weight: bolder;
  color: #8860D0;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patient-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  align-items: center;
  padding: 15px 35px 15px 35px;
  border-bottom: 1px solid rgb(167, 165, 165);
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patient-data .patient-name {
  font-weight: bold;
  font-size: 20px;
}
.dashboard-container .dashboard .recently-screened-patients-container .recently-screened-patients-container .recently-screened-patient-data .screening-information-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-container .dashboard .dashboard-menu > * {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=Dashboard.css.map */