.dashboard-container {
  padding-top: 90px;

  .dashboard {
    height: 100%;

    .top-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;
      padding: 20px 20px 10px 20px;

      .number-of-patients-container {
        cursor: pointer;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 1px 2px 2px gray;
      }

      .number-of-patients-screened-container {
        cursor: pointer;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        box-shadow: 1px 2px 2px gray;
      }

      .average-time-duration-of-screening-container {
        background-color: white;
        display: flex;
        box-shadow: 1px 2px 2px gray;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 3/5;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;

        .average-time {
          display: grid;
          grid-template-columns: auto auto auto;

          h2,
          h3 {
            margin: 0;
            padding: 7px;
          }

          .hours-number-format,
          .hours-string-format,
          .minutes-number-format,
          .minutes-string-format,
          .seconds-number-format,
          .seconds-string-format {
            text-align: center;
          }
        }
      }
    }

    .bottom-section {
      height: 100%;
      display: grid;
      column-gap: 10px;
      padding-bottom: 20px;
      margin: 0 20px 90px 20px;
      grid-template-columns: 1fr 1fr;

      .patients-list-container {
        padding: 0;
        height: 100%;
        background-color: white;
        box-shadow: 1px 2px 2px gray;

        .patient-list-header {
          display: flex;
          padding: 30px 20px;
          border-top-left-radius: 0;
          background-color: white;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          justify-content: space-between;

          h5,
          h6 {
            margin: 0;
          }
        }

        .patient-information-item {
          display: flex;
          padding: 40px 10px;
          justify-content: space-between;

          .patient-name {
            display: flex;
            font-size: 20px;
            column-gap: 5px;
            font-weight: bold;
            justify-content: center;

            h5 {
              margin: 0;
            }
          }

          .screening-information-summary {
            display: flex;
            flex-direction: row;
            align-items: center;

            h6 {
              margin: 0;
            }
          }
        }
      }

      .recently-screened-patient-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px 15px 35px;
        overflow-y: hidden;
        border-bottom: 1px solid rgb(167, 165, 165);
        box-shadow: 1px 2px 2px gray;
      }

      .patients-list-container {
        max-height: 300px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .graph-container {
        display: flex;
        padding: 10px 0;
        align-items: center;
        box-shadow: 1px 2px 2px gray;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 0;
        background-color: white;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .top-section > * {
    // border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
}
