.user-navigation-menu-container{
    width: 100%;
    padding-block: 50px;
    background-image: linear-gradient(to right, #8860D0, #A79BFF);

    #user-navigation-menu{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;

        .navigation-top-section{
            background-image: linear-gradient(to left, #8860D0, #A79BFF);
            height: 250px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .user-profile{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .user-profile-photo{
                    text-align: center;

                    img{
                        height: 110px;
                        width: 110px;
                        border-radius: 50%;
                    }
                }

                .user-name-display{
                    font-weight: bold;
                    color: white;
                    width: 60%;
                    text-align: center;
                }
            }

            .close-menu-button{ 
                text-align: right;

                button{
                    margin: 10px;
                    font-size: 20px;
                }
            }
        }

        .navigation-middle-section{
            
            nav{                
                display: flex;
                flex-direction: column;
                align-items: center;

                .navigation-menu-link-container{
                    text-align: center;
                    width: 100%;
                    transition: 0.3s;

                    &:hover{
                        background-color:#A79BFF;
                        color: white;
                    }

                    h3{
                        color: #9C9C9C;
                        transition: 0.3s;
                        text-decoration: none;
                        margin-block: 0;
                        height: 100%;
                        padding-block: 20px;

                        &:hover{
                            
                            color: white;
                        }
                    }

                }
            }
        }
    }

    .open-menu-button-container{
        margin-left: 20px;
        .open-menu-button{
            img{
                background-image: transparent;
                height: 30px;
                width: 30px;
            }
        }
    }
}